Intermediate/AssetRegistryCache/*

Intermediate/Build/*

Intermediate/Cache/*

Intermediate/ProjectFiles/*

Intermediate/ReimportCache/*

Intermediate/Staging/*

Intermediate/Plugins/*

Intermediate/Config/CoalescedSourceConfigs/*

Intermediate/Android/* 

Binaries/*



Intermediate/CachedAssetRegistry.bin



Saved/*

Build/*

DerivedDataCache/*

Binaries/*

.vs/



## Ignore UE4 files and VS / XCode solutions and projects



*.sln

*.vcxproj

*.xcodeproj

*.VC.db

*.java

## Other files

*.slo

*.lo

*.o

*.obj

*.so

*.dylib

*.dll

*.lai

*.la

*.a

*.lib

*.pdb



##Don't ignore

!Intermediate/Config/CoalescedSourceConfigs/DeviceProfiles.ini

!Build/Android/*

!Intermediate/Android/

Build/Android/FileOpenOrder/CookerOpenOrder.log